/*Font for the page*/
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
html * {
    font-family: 'Playfair Display';
    font-weight: 50;
    font-weight: lighter;
}

/* for the navigation bar*/
.topnav {
    background-color: aliceblue;
    overflow: hidden;
}
.topnav ul{
    display: inline-block;
    list-style-type: none;
}
/* style for the navigation bar*/
.topnav {
    width:100%;
    float:left;
    color: #404040;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
}
/* hover over the navigation bar*/
.topnav a:hover {
background-color: #F5F5F5;
color: #C8C8C8;
}

/* for the top hawai'i physical therapy */
.logo {
    width:100%;
    text-align: center;
    background-color: #3c1414;
    color: #F5F5F5;
    padding: 10px 20px;
    margin-top: 0;
}
.insurance{
    width:100%;
    text-align: center;
    background-color: #3c1414;
    color: #F5F5F5;
    padding: 10px 20px;
    padding-top: 60px;
    padding-bottom: 50px;
    height: 110px;   
}
table{
    text-align: center;
    color:#4a4130 ;
    width: 100%;
    padding: 10px 20px;
}

td{
    padding: 25px;
}